body {
    font-family: Lato, sans-serif;
    color: #8e44ad;
    background-color: #fff;
}

h1, h2, h3, h4, h5, h6 {
    font-family: Montserrat, sans-serif;
}

/* changed the acitve nav link */
.navbar-nav .active {
    color:  #8e44ad !important;
}
.user-input{
	margin: 0;
	padding: 7px;
	border-style: none;
	background-color: transparent;
}
.section{
    background-color: #f8f8ff;
}
.container{
	margin-top: 100px
}
.h1{
    font-weight: bold;
    font-size: 45px;
}
.border-outline{
    border: 1px solid #8e44ad;
    border-radius: 50px;
    width: 62%;
    padding-left: 15px;
    padding-right: 5px;
    padding-bottom: 9px;
    padding-top: 8px;
}
.button{
    margin: auto;
    background-color: #8e44ad;
    border-color: #8e44ed;
    border-radius: 60px;
    color: #fff;
    font-weight: bold;
    float: right;
    padding: 5px 15px 5px 15px;
}
.nav-link{
    color: #95A5A6;
    margin: 0 20px;
}
@media(max-width:768px) {
    .border-outline{width: 75%;}
    .h1{font-size: 35px; font-weight: bold}
}