body {
    font-family: Lato, sans-serif;
    color: #8e44ad;
    background-color: #f8f8ff;
}

h1, h2, h3, h4, h5, h6 {
    font-family: Montserrat, sans-serif;
}

.border-outline{
    border: 1px solid #8e44ad;
    border-radius: 50px;
    width: 62%;
    padding: 8px 16px;
}
.button{
    background-color: #8e44ad;
    border-color: #8e44ed;
    border-radius: 60px;
    color: #fff;
    font-weight: bold;
    padding: 5px 15px 5px 15px;
}
.nav-link{
    color: #95A5A6;
}
@media(max-width:768px) {
    .border-outline{width: 75%;}
}