body {
    font-family: Montserrat, sans-serif;
    background-color: #fff;
    color: #8E44AD;
    font-size: 18px;
    font-weight: 400;
    line-height: 36px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: Montserrat, sans-serif;
    color: #8E44AD;
    line-height: 60px;
    letter-spacing: 2px;
}
.font-weight-bold {
    font-weight: bold;
}

.font-weight-light {
    font-weight: 300;
}

.font-weight-normal {
    font-weight: normal;
}
.small {
    font-size: .85em;
}

.display-1 {
    font-size: 4.2em;
}

.display-2 {
    font-size: 3.5em;
}

.display-3 {
    font-size: 2.8em;
}